@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Englebert&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DynaPuff", system-ui;
  /* font-family: "Englebert", cursive; */
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(17, 17, 1);
  /* filter: blur(5px); */
}
.nav {
  height: 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.9em;
  /* font-family: "DynaPuff", system-ui; */
}
#right-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.links {
  display: flex;
  gap: 30px;
}
.links li {
  list-style: none;
}
#donate-btn {
  background-color: yellow;
  border: none;
  border-radius: 8px;
  color: black;
  font-size: 17px;
  padding: 8px 35px;
  display: flex;
  gap: 10px;
}
#donate-btn:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  /* color: yellow; */
}
.link-list {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
}
.link-list a {
  text-decoration: none;
  color: yellow;
  font-weight: 600;
}
.link-list a:hover {
  color: rgb(255, 255, 255);
}
.hero-section {
  height: 90%;
  width: 100%;
  background-image: url(hero.png);
  background-repeat: no-repeat;
  background-position: 550px 80px;
  display: flex;
}
.container {
  position: absolute;
  top: 120px;
  right: 100px;
  width: 450px;
  height: 550px;
  padding: 10px;
  border-radius: 10px;
  /* background-image: url(hero.png); */
  background-color: rgb(255, 255, 255, 0.1);
  /* border: 5x solid #fff; */
  backdrop-filter: blur(2px);
}
.buttons {
  display: flex;
  width: 100%;
}
.buttons button {
  width: 50%;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
}

#home {
  width: 700px;
  height: 100%;
  padding: 80px 100px;
  color: white;
}
#home h1 {
  font-size: 4.2em;
}
#meow-icon {
  font-size: 0.37em;
  position: absolute;
  transform: rotate(60deg);
  top: 145px;
}

#home p {
  padding-top: 20px;
  font-size: 1.1em;
  line-height: 1.5em;
}
.main-btn {
  display: flex;
  gap: 5%;
}
.main-btn button {
  margin-top: 20px;
  border-radius: 8px;

  font-size: 1.3em;
  width: 46%;
  padding: 8px;
  text-align: center;
  gap: 10px;
}
#join-btn {
  border: 2px solid yellow;
  background-color: yellow;
  color: black;
  border: none;
}
#join-btn:hover {
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255, 0);
  background-color: rgb(255, 255, 255, 0.2);
  /* filter: blur(1px); */
  color: #fff;
  backdrop-filter: blur(2px);
  /* -webkit-filter: blur(8px); */
}

#whitepaper-btn {
  border: 2px solid yellow;
  background-color: transparent;
  color: #fff;
}
#whitepaper-btn:hover {
  cursor: pointer;
  background-color: yellow;
  color: black;
}
